body {
    font-family: 'Courier New', Courier, monospace;
}
.container {
    
    box-sizing: border-box;
    display: flex;
    flex-wrap:wrap; 

    height: 960px; 
    width: 960px;

}

.square{
    display: flex;
    border: 1px;
    border-color: black;
    border-style:solid;   
    margin: 0;
    padding: 0;
    gap: 0;
    box-sizing: border-box;
}

.reset {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.heading {
    display: flex;
    width: 90%;
    
    font-weight:bolder;
}
button {
    font-family: 'Courier New', Courier, monospace;
}