.container {
    
    box-sizing: border-box;
    display: flex;
    flex-wrap:wrap; 

    height: 480px; 
    width: 480px;

}

.square{
    display: flex;
    height: 30px; 
    width: 30px;
    border: 1px;
    border-color: gray;
    border-style:solid;   
    margin: 0;
    padding: 0;
    gap: 0;
    box-sizing: border-box;
}